.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    background: steelblue;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.7;
    transform: scale(1,1);
    transition: all 0.1s ease;
}

.cursor.leave-start {
    transform: scale(3,3);
}

.cursor.leave-end {
    transform: scale(0,0);
}
